html {
    background-color: #e4e9fd;
    background-image: -webkit-linear-gradient(65deg, #65739A 50%, #e4e9fd 50%);
    min-height: 1000px;
    font-family: 'Roboto', sans-serif;
}
main {
    text-align: center;
    flex: 1 0 auto;
}

.task-item {
    margin-top: 3px;
}
.task {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #c0b0b0;
}
.task input[type="checkbox"] {
    margin-right: 10px;
}
div.heading {
    background-color: #65739A ;
    text-align: center;
}
.box {
    max-width: 400px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
h1{
    color: #fff;
    padding: 10px;
}
button {
    min-height: 50px;
    width:max-content;
    border-radius: 5px;
    border-color: transparent;
    background-color: #65739A;
    color: #fff;
    font-size: 30px;
    border-width: 0;
}

input[type="text"] {
    text-align: center;
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
    width: 313px;
    padding: 1px 2px;
    margin-right:40px;;
}
.task-item.nw{
    border-bottom: 1px solid #c0b0b0;
    margin-bottom: 5px;
}
p{
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 300;
    color: #00204a;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.task-item.ro{
    margin-top: 10px;
}

.completed p {
    text-decoration: line-through;
}
/* Add this to your CSS stylesheet */
.navbar-nav {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
}

.navbar-item {
    display: flex;
    align-items: center;
}

.nav-link {
    color: #333; /* Adjust the color as needed */
    text-decoration: none;
    display: flex;
    align-items: center;
}

.nav-link i {
    margin-right: 5px;
}

/* Optional: Add additional styling for active link */
.navbar-item.active .nav-link {
    font-weight: bold;
}
/* SCROLL BAR */

::-webkit-scrollbar {
    width: 1px; /* Adjust the width as needed */
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Adjust the background color */
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* Adjust the thumb color */
    border-radius: 3px; /* Rounded corners for the thumb */
}
main.Task-column {
    text-align: center;
    flex: 1 0 auto;
    width: 100%; /* Default width */
    margin: 0 auto; /* Center align */
}
